*.bag
*.bak
*.egg-info/
*.o
*.orig
*.py[cdo]
*~
.*.swp
.catkin
.catkin_tools/
.catkin_workspace
.coverage
.cproject
.pc/
.project
.pydevproject
.rosrepo/
.settings/
CATKIN_IGNORE
__pycache__/
lib*.a
lib*.so
lib*.so.*
*/doc/html/
*/doc/manifest.yaml
generated/
.vscode/
*.code-workspace
