<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find node_manager_daemon_fkie)/tests/resources/wincl/incf.launch">
    <arg name="inc" value="1"/>
  </include>

  <include file="$(find node_manager_daemon_fkie)/tests/resources/wincl/incf.launch">
    <arg name="inc" value="2"/>
  </include>
</launch>