<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!--
	<include file="$(find fkie_node_manager_daemon)/tests/resources/included1.launch">
	-->
	<include file="$(find fkie_node_manager_daemon)/tests/resources/included1.launch">
		<arg name="inc" value= "included2" />
	</include>
	<!--	<include file="$(find fkie_node_manager_daemon)/tests/resources/included1.launch"> -->
	<include file="$(find fkie_node_manager_daemon)/tests/resources/included1.launch" />
	<include file="$(find invalid_package)/tests/resources/included1.launch"/>
	<arg name="include1" value= "$(find fkie_node_manager_daemon)/tests/resources/included1.launch" />
	<rosparam param="paramter" file="$(find fkie_node_manager_daemon)/tests/resources/included1.launch" command="load" subst_value="true"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find fkie_node_manager_daemon)/launch/invalid_cfg.rviz"/>

</launch>